<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>PIS | Dashboard</title>

    {% include "snippets-dashboard/style.html" %}
    
</head>

<body>

    {% include "snippets-dashboard/sidebar.html" %}

    {% include "snippets-dashboard/navbar.html" %}

<div id="wrapper">

    {% block content %}

    {% endblock content %}

</div><!--/#wrapper -->

    {% block scripts %}
      
    {% endblock scripts %}
	
{% include "snippets-dashboard/scripts.html" %}

</body>
</html>