{% extends "dashboard/base.html" %}
{% load humanize %}

{% block content %}
<div class="main-content">  
    <div class="row small-spacing">
        <div class="col-xs-12">
            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-small-font table-bordered">
                        <tr>
                            <th>First Name</th>
                            <td>{{customer.firstname}}</td>
                        </tr>
                        <tr>
                            <th>Middle Name</th>
                            <td>{{customer.middlename}}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{customer.lastname}}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{customer.address|linebreaks}}</td>
                        </tr>
                        <tr>
                            <th>Company Name</th>
                            <td>{{customer.company_name}}</td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>{{customer.phone_number}}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{customer.status}}</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{customer.age}}</td>
                        </tr>
                        <tr>
                            <th>Income</th>
                            <td>{{customer.income|intcomma}}</td>
                        </tr>
                    </table>
                </div>  
                <form action="#" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning"><i class="fa fa-trash"></i> Delete</button>
                    <a href="{% url 'customer-list' %}" class="btn btn-danger"><i class="fa fa-reply"></i> Back</a>
                </form>
            </div>
            <!-- /.box-content -->
        </div>
        <!-- /.col-lg-6 col-xs-12 -->
    </div>
</div>
<!-- /.main-content -->
{% endblock content %}