{% extends "dashboard/base.html" %}
{% load humanize %}

{% block content %}
<div class="main-content">  
    <div class="row small-spacing">
        <div class="col-xs-12">
            <div class="box-content">
                <div class="col-md-6">
                    <a href="{% url 'customer-create' %}" class="btn btn-info"> 
                        <i class="fa fa-plus text-white"></i> Add Customer
                    </a>
                </div>
                <div class="col-md-4">
                    <form action="#" method="GET">
                        <div class="input-group">
                        <input type="text" name="q" class="form-control input-search" placeholder="Search" value="{{searchvalue}}">
                        <span class="input-group-btn">
                            <button class="btn btn-violet no-border waves-effect waves-light" type="submit">
                                <i class="fa fa-search text-white"></i>
                            </button>
                        </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'customer-list' %}" class="btn btn-danger">Reset Pencarian</a>
                </div>
            </div>
            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-small-font table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Address</th>
                                <th>Company Name</th>
                                <th>Phone Number</th>
                                <th>Status</th>
                                <th>Age</th>
                                <th>Income</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in customer_list %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{list.firstname}}</td>
                                <td>{{list.middlename}}</td>
                                <td>{{list.lastname}}</td>
                                <td>{{list.address|linebreaks}}</td>
                                <td>{{list.company_name}}</td>
                                <td>{{list.phone_number}}</td>
                                <td>{{list.status}}</td>
                                <td>{{list.age}}</td>
                                <td>{{list.income|intcomma}}</td>
                                <td>
                                    <a href="{% url 'customer-update' list.id %}" title="Update" class="btn btn-success btn-bordered">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="{% url 'customer-delete' list.id %}" title="Delete" class="btn btn-warning btn-bordered">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div>
            <!-- /.box-content -->
        </div>
        <!-- /.col-lg-6 col-xs-12 -->
    </div>
</div>
<!-- /.main-content -->
{% endblock content %}