{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-content">  
    <div class="row small-spacing">
        <div class="col-xs-12">
            <div class="box-content">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-info"><i class="fa fa-save"></i> Update</button>
                        <a href="{% url 'customer-list' %}" class="btn btn-danger"><i class="fa fa-reply"></i> Back</a>
                    </form>
            </div>
            <!-- /.box-content -->
        </div>
        <!-- /.col-lg-6 col-xs-12 -->
    </div>
</div>
<!-- /.main-content -->
{% endblock content %}