{% load static %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'dashboard/scripts/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/scripts/modernizr.min.js' %}"></script>
<script src="{% static 'dashboard/plugin/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'dashboard/plugin/nprogress/nprogress.js' %}"></script>
<script src="{% static 'dashboard/plugin/sweet-alert/sweetalert.min.js' %}"></script>
<script src="{% static 'dashboard/plugin/waves/waves.min.js' %}"></script>
<!-- Full Screen Plugin -->
<script src="{% static 'dashboard/plugin/fullscreen/jquery.fullscreen-min.js' %}"></script>

<!-- Percent Circle -->
<script src="{% static 'dashboard/plugin/percircle/js/percircle.js' %}"></script>

<!-- Google Chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Chartist Chart -->
<script src="{% static 'dashboard/plugin/chart/chartist/chartist.min.js' %}"></script>
<script src="{% static 'dashboard/scripts/chart.chartist.init.min.js' %}"></script>

<!-- FullCalendar -->
<script src="{% static 'dashboard/plugin/moment/moment.js' %}"></script>
<script src="{% static 'dashboard/plugin/fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'dashboard/scripts/fullcalendar.init.js' %}"></script>

<!-- Responsive Table -->
<!-- <script src="{% static 'dashboard/plugin/RWD-table-pattern/js/rwd-table.min.js' %}"></script>
<script src="{% static 'dashboard/scripts/rwd.demo.min.js' %}"></script> -->

<script src="{% static 'dashboard/scripts/main.min.js' %}"></script>
<script src="{% static 'dashboard/color-switcher/color-switcher.min.js' %}"></script>