<div class="main-menu">
	<header class="header">
		<a href="{% url 'main-dashboard' %}" class="logo">NinjaTeam</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
		<div class="user">
			<a href="#" class="avatar"><img src="http://placehold.it/80x80" alt=""><span class="status online"></span></a>
			<h5 class="name"><a href="">Emily Stanley</a></h5>
			<h5 class="position">Administrator</h5>
			<!-- /.name -->
			<div class="control-wrap js__drop_down">
				<i class="fa fa-caret-down js__drop_down_button"></i>
				<div class="control-list">
					<div class="control-item"><a href="{% url 'logout-user' %}"><i class="fa fa-sign-out"></i> Log out</a></div>
				</div>
				<!-- /.control-list -->
			</div>
			<!-- /.control-wrap -->
		</div>
		<!-- /.user -->
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<h5 class="title">Navigation</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li class="{{ main_dashboard_page_active }}">
					<a class="waves-effect" href="{% url 'main-dashboard' %}"><i class="menu-icon fa fa-home"></i><span>Dashboard</span></a>
				</li>
				<li class="{{ customer_page_active }}">
					<a class="waves-effect" href="{% url 'customer-list' %}"><i class="menu-icon fa fa-th-large"></i><span>Customer</span></a>
				</li>
			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->