{% load static %}

<!-- Main Styles -->
<link rel="stylesheet" href="{% static 'dashboard/styles/style.min.css' %}">

<!-- mCustomScrollbar -->
<link rel="stylesheet" href="{% static 'dashboard/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css' %}">

<!-- Waves Effect -->
<link rel="stylesheet" href="{% static 'dashboard/plugin/waves/waves.min.css' %}">

<!-- Sweet Alert -->
<link rel="stylesheet" href="{% static 'dashboard/plugin/sweet-alert/sweetalert.css' %}">

<!-- Percent Circle -->
<link rel="stylesheet" href="{% static 'dashboard/plugin/percircle/css/percircle.css' %}">

<!-- Chartist Chart -->
<link rel="stylesheet" href="{% static 'dashboard/plugin/chart/chartist/chartist.min.css' %}">

<!-- FullCalendar -->
<link rel="stylesheet" href="{% static 'dashboard/plugin/fullcalendar/fullcalendar.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/plugin/fullcalendar/fullcalendar.print.css' %}" media='print'>

<!-- Color Picker -->
<link rel="stylesheet" href="{% static 'dashboard/color-switcher/color-switcher.min.css' %}">