{% if messages %}
    {% for message in messages %}

    <!-- first line message -->
    {% if message.tags == "error" %}
        <div class="alert alert-danger" role="alert">
    {% else %}    
        <div class="alert alert-{{message.tags}}" role="alert">
    {% endif %}

        {{message}}
    </div>
    <!-- end line message -->

    {% endfor %}
{% endif %}


<!-- <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->