{% extends "dashboard/base.html" %}

{% block content %}
<div class="main-content">
	<div class="row small-spacing">
	
		<div class="col-lg-12 col-xs-12">
			<div class="box-content">
				<div class="content">
					<div id="chart_div"></div>
				</div>
				<!-- /.content -->
			</div>
			<!-- /.box-content -->
		</div>
		<!-- /.col-lg-12 col-md-12 -->

	</div>
</div>
<!-- /.main-content -->
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
	var xLabel = {{xLabel | safe}}
	var yLabel = {{yLabel | safe}}

	var options = {
		chart: {
		type: 'line',
		height: 350,
		},
		series: [{
		name: 'Trend Income',
		data: yLabel
		}],
		dataLabels: {
			enabled: true
		},
		title : {
		text: 'Trend Income Graph',
		},
		stroke: {
			curve: 'straight'
		},
		plotOptions: {
			bar: {
			dataLabels: {
				position: 'top', // top, center, bottom
			},
			}
		},
		xaxis: {
			categories: xLabel,
			title: {
				text: 'Age'
			}
		},
		yaxis: {
			title: {
				text: 'income'
			}
		},
	}

	var chart = new ApexCharts(document.querySelector("#chart_div"), options);

	chart.render();
</script>
{% endblock scripts %}