{% extends "registration/base.html" %}
{% load static %}

{% block content %}
<form action="#" class="frm-single">
    <div class="inside">
        <div class="title"><strong>PIS</strong>Admin</div>
        <!-- /.title -->
        <div class="frm-title">Confirm Email</div>

        {% include "snippets-django/messages.html" %}
        
        <!-- /.frm-title -->
        <img src="{% static 'dashboard/images/icon-email.png' %}" alt="" class="ico-email">
        <p class="text-center">A email has been send to <strong>{{emailuser}}</strong>. Please check for an email from company and click on the included link to reset your password.</p>
        <a href="{% url 'login-user' %}" class="a-link"><i class="fa fa-sign-in"></i>Return to Login Page.</a>
        {% include "snippets-dashboard/copy-right.html" %}
        <!-- /.footer -->
    </div>
    <!-- .inside -->
</form>
<!-- /.frm-single -->
{% endblock content %}