{% extends "registration/base.html" %}

{% block content %}
<form action="#" class="frm-single" method="POST">
	<div class="inside">
		<div class="title"><strong>PIS</strong>Admin</div>
		<!-- /.title -->
		<div class="frm-title">Login</div>
		{% csrf_token %}

		<!-- message from django -->
		{% include "snippets-django/messages.html" %}
		
		
		<!-- /.frm-title -->
		<div class="frm-input">
			<input type="email" name="{{form.username.name}}" placeholder="{{form.username.label}}" class="frm-inp">
			<i class="fa fa-envelope frm-ico"></i>
		</div>
		<!-- /.frm-input -->
		<div class="frm-input">
			<input type="password" name="{{form.password.name}}" placeholder="{{form.password.label}}" class="frm-inp">
			<i class="fa fa-lock frm-ico"></i>
		</div>
		<!-- /.frm-input -->
		<div class="clearfix margin-bottom-20">
			<!-- <div class="pull-left">
				<div class="checkbox primary"><input type="checkbox" id="rememberme"><label for="rememberme">Remember me</label></div>
			</div> -->
			<!-- /.pull-left -->
			<div class="pull-right"><a href="page-recoverpw.html" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot password?</a></div>
			<!-- /.pull-right -->
		</div>
		<!-- /.clearfix -->
		<button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>
		<!-- /.row -->
		<a href="{% url 'register-user' %}" class="a-link"><i class="fa fa-key"></i>New to NinjaAdmin? Register.</a>
		{% include "snippets-dashboard/copy-right.html" %}
		<!-- /.footer -->
	</div>
	<!-- .inside -->
</form>
{% endblock content %}