{% extends "registration/base.html" %}

{% block content %}
<form action="{% url 'register-user' %}" class="frm-single" method="POST">
    <div class="inside">
        <div class="title"><strong>PIS</strong>Admin</div>
        <!-- /.title -->
        <div class="frm-title">Register</div>
        {% csrf_token %}

        {% include "snippets-django/messages.html" %}

        <!-- /.frm-title -->
        <div class="frm-input">
			<input type="email" name="email" placeholder="Email" class="frm-inp">
			<i class="fa fa-envelope frm-ico"></i>
		</div>
        <!-- /.frm-input -->
        <div class="frm-input">
            <input type="text" name="firstname" placeholder="First Name" class="frm-inp">
            <i class="fa fa-user frm-ico"></i>
        </div>
        <!-- /.frm-input -->
        <div class="frm-input">
            <input type="text" name="lastname" placeholder="Last Name" class="frm-inp">
            <i class="fa fa-user frm-ico"></i>
        </div>
        <!-- /.frm-input -->
        <div class="frm-input">
            <input type="password" name="password1" placeholder="Password" class="frm-inp">
            <i class="fa fa-lock frm-ico"></i>
        </div>
        <!-- /.frm-input -->
        <div class="frm-input">
            <input type="password" name="password2" placeholder="Password confirmation" class="frm-inp">
            <i class="fa fa-lock frm-ico"></i>
        </div>
        <!-- /.clearfix -->
        <button type="submit" class="frm-submit">Register<i class="fa fa-arrow-circle-right"></i></button>
        <!-- /.row -->
        <a href="{% url 'login-user' %}" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a>
        {% include "snippets-dashboard/copy-right.html" %}
        <!-- /.footer -->
    </div>
    <!-- .inside -->
</form>
<!-- /.frm-single -->
{% endblock content %}